################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/CodeTool/obj
/src/.vs
/src/packages
/src/WinFormUI/bin
/src/WinFormUI/obj
/src/CodeTool/obj
/src/CodeTool/bin
