################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/CodeTool/obj
/src/.vs
/src/packages
/src/WinFormUI/bin
/src/WinFormUI/obj
/src/CodeTool/obj
/src/CodeTool/bin
/src/WeifenLuo.WinFormsUI.Docking/obj
/src/WeifenLuo.WinFormsUI.Docking/bin
/src/WinFormUI/obj
/src/WebBrowser/bin
/src/WebBrowser/obj
/src/WebBrowser/bin
/src/WebBrowser/obj
/src/CodeTool.Common/obj
/src/CodeTool.Common/bin
/src/DataViewExtenders/obj
/src/DataViewExtenders/bin
/Tool/.vs/Tool/v15/Server/sqlite3/*.lock
/Tool/.vs/Tool/v15/Server/sqlite3/*.ide
/Tool/.vs/Tool/v15/Server/sqlite3/*.ide-shm
/Tool/.vs/Tool/v15/Server/sqlite3/*.ide-wal
